#########################################
# APPLICATION
#########################################

APP_NAME=portal-comunicacao
APP_ENV=local

#########################################
# SERVER
#########################################

SERVER_PORT=8080

#########################################
# DATABASE
#########################################

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

#########################################
# JPA
#########################################

SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA=UNMPORTCOM

#########################################
# SECURITY
#########################################

APPLICATION_SECURITY_JWT_SECRET=
APPLICATION_SECURITY_ACCESS_TOKEN_EXPIRATION=900
APPLICATION_SECURITY_REFRESH_TOKEN_EXPIRATION=28800

#########################################
# ZIMBRA
#########################################

ZIMBRA_URL=
ZIMBRA_CLIENT_ID=
ZIMBRA_CLIENT_SECRET=

#########################################
# LOGGING
#########################################

LOG_LEVEL=INFO