@use "tokens/design-tokens";
@use "fonts";
@use "../components/ds/ds";
@use "../layouts/layouts";

// Global application styles
html {
  font-family: var(--font-family-sans);
}

body.body--dark {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
